@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

:root {
    /* Cores principais */
    --dark-wine: #4A1C2A;
    --light-whine: #761B3E;
    --off-white: #FFF4EB;
    --black: #1C1C1C;

    /* Fontes */
    --playfair: 'Playfair'
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 7vw;
    background-color: white;
    padding: 0  7%;
    font-family: sans-serif;
    white-space: nowrap;
}


nav {
    width: calc(100% - 18.5%);;
    display: inline-block;
    height: 100%;
    text-align: right;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    height: 100%;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3vw;
    line-height: 7vw;
}

nav ul li:first-of-type{
    margin-left: 0;
}

nav ul li a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6vw;
    transition: .2s ease-in;
    font-family: var(--playfair), sans-serif;
}

nav ul li a:hover{
    opacity: 0.8;
}